/* Переменные*/
:root {
    --color-darkgreen:#07373a;
    --color-green: #0B5056;
    --background-greencolor: rgb(0, 0, 0, 15%);
    --color-text: #585858;
    --color-gray: #a8a8a8;
    --color-text-black: #262626;

    --background-grey: #eeeeee;
}

/*header стили*/

.header {
    height: 110vh;
    background: url("../images/green2.jpg") no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 79%, 50% 100%, 0 79%);
}


.menu-hamburger {
    display: none;
}

.checkbox {
    display: none;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 80px;

    color: var(--color-darkgreen);
    background: #10a3ad;
    z-index: 2;
}

.header-top a.link {
    color: var(--color-darkgreen);;
}



.logo {
    font-size: 36px;
}

.menu-element__link.home svg{
    height: 35px;
    width: 35px;
}

.menu {
    display: flex;
        align-items: center;
        justify-content: center;
}

.menu-element{
    margin-right: 30px;
    list-style-type: none;
    font-size: 22px;
}

.menu-element :last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-green);
}

.header-center {
    position: relative;
    color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    z-index: 2;
}

.header-center__wrapper{
    width: 100%;
    background: rgb(0, 0, 0, 5%);
    text-align: center;
    padding: 20px 0;
}
.name {
    font-size: 58px;
    line-height: 74px;
}

.description{
    display: inline-block;
    font-size: 22px;
    line-height: 1,5em;
    width: 100%;
    white-space: nowrap;
    border-right: 3px solid transparent;
    overflow: hidden;
    animation: cursor 0.75s 8, print-text 9s;
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #07373a;
    }
    100% {
        border-color: transparent;
    }

}

@keyframes print-text {
    from {
        width: 0;
    }
}


/* Секция обо мне*/

.about-me{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.about-me .left{
    flex: 1 1 30%;
    padding-right: 40px;
}

.about-me .right {
    flex: 1 1 60%;
    padding-left: 5px;
}

.about-me__image {
    width: 350px;
    margin-left: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 50%));
}

.about-me__title {
    font-size: 38px;
    margin-top: 80px;
}

.about-me__description {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 15px;
}

.about-me__extra {
    color: var(--color-text);
    font-size: 18px;
    padding-left: 0%;
    margin-top: 20px;
}

.about-me__extra-element {
    display: flex;
    margin-bottom: 10px;
}

.about-me__extra-element:last-of-type {
    margin-bottom: 0;
}

.about-me__extra-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.about-me__extra-icon svg {
    color: var(--color-green);
}

.about-me__extra-title{
    margin-right: 10px;
}

.tel {
    margin-left: 107px;
}

/* Секция достижения */

.achievements {
    flex-direction: column;
    padding: 40px 0;
    position: relative;
}
.achievements:before,
.achievements:after {
    content: "";
    position: absolute;
    border: 80px solid transparent;
}

.achievements:before {
    border-top: 30px solid #fff;
    top: 0;
}

.achievements:after {
    border-top: 30px solid var(--background-grey);
    bottom: -110px;
}


/* Секция цены на услуги */
.price {
    padding: 60px 0 40px;
}

.pricelabel {
    flex: 1 1 30%;
    padding-right: 23%;
    margin-left: 23%;
}

.price-list__element {
        list-style: none;
        padding: 0;
        border: 1px solid rgba(201, 201, 201, 0.2);
        background: var(--background-grey);
}

.firstlabel {
    overflow: hidden;
    padding: 6px 10px;
    font-size: 20px;
}

.sublabels {
    overflow: hidden;
    padding: 6px 10px;
    font-size: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    text-align: -webkit-match-parent;
}

.sublabels span {
    float: left;
    width: 75%;
    color: #000000;
}

.sublabels em {
    font-style: italic;
}

.firstlabel:first-child {
    font-weight: bold;
    padding: 15px 0 10px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-green);
    font-size: 24px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .2);
}

.firstlabel:first-child::before {
    content: "\2749";
    margin-right: 10px;
}

/* Общие стили */

a.link {
    color: rgb(13, 128, 108);
    text-decoration: none;
    transition: opacity .25s ease;
}

a.link:hover {
    opacity: 0.7;
}

.gray {
    color: var(--color-gray);
}

.bold {
    font-weight: 700;
    color: var(--color-text-black);
}

.second-title{
    position:relative;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.section-grey {
    background: var(--background-grey);
}

.second-title:after{
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    bottom: -4px;
    left: calc(50% - 60px / 2);
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Подвал сайта*/
.footer {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px 0;

}

.socials {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.social-element__link {
    width: 48px;
    height: 48px;
}

.footer-about {
    color: var(--color-darkgreen);
}

/* Слайдер изображений */
.slider {
    position: relative;
    display: flex;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.slider__wrapper {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;

    transition: all .5s ease;
}

.slider__link {
    flex: 1 1 33%;
}

.slider__image {
    width: 100%;
    max-width: 250px;
}

.slider__input {
    display: none;
}

.slider__controls {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.slider__controls-element {
    display: inline-block;
    width: 40px;
    height: 8px;
    border-radius: 8px;
    background: rgb(0, 0, 0, 30%);

    cursor: pointer;
    transition: all .25s ease;
}

.slider__controls-element:hover, 
.slider__input:first-of-type:checked ~ .slider__controls .slider__controls-element:first-of-type,
.slider__input:nth-of-type(2):checked ~ .slider__controls .slider__controls-element:nth-of-type(2),
.slider__input:nth-of-type(3):checked ~ .slider__controls .slider__controls-element:nth-of-type(3),
.slider__input:nth-of-type(4):checked ~ .slider__controls .slider__controls-element:nth-of-type(4),
.slider__input:nth-of-type(5):checked ~ .slider__controls .slider__controls-element:nth-of-type(5),
.slider__input:nth-of-type(6):checked ~ .slider__controls .slider__controls-element:nth-of-type(6),
.slider__input:nth-of-type(7):checked ~ .slider__controls .slider__controls-element:nth-of-type(7) {
    border-color: rgb(0, 0, 0, 50%);
    background: var(--color-green);
}

.slider__input:first-of-type:checked ~ .slider__wrapper:first-of-type {
    margin-left: 0;
}

.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
    margin-left: -100%;
}

.slider__input:nth-of-type(3):checked ~ .slider__wrapper:first-of-type {
    margin-left: -200%;
}

.slider__input:nth-of-type(4):checked ~ .slider__wrapper:first-of-type {
    margin-left: -300%;
}

.slider__input:nth-of-type(5):checked ~ .slider__wrapper:first-of-type {
    margin-left: -400%;
}

.slider__input:nth-of-type(6):checked ~ .slider__wrapper:first-of-type {
    margin-left: -500%;
}

.slider__input:nth-of-type(7):checked ~ .slider__wrapper:first-of-type {
    margin-left: -600%;
}