/* Переменные*/
:root {
    --color-darkgreen:#07373a;
    --color-green: #0B5056;
    --background-greencolor: rgb(0, 0, 0, 15%);
    --color-text: #585858;
    --color-gray: #a8a8a8;
    --color-text-black: #262626;

    --background-grey: #eeeeee;
}

/*header стили*/

.header {
    height: 110vh;
    background: url("../images/green2.jpg") no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 79%, 50% 100%, 0 79%);
}
.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 80px;

    color: var(--color-darkgreen);
    background: #10a3ad;
    z-index: 2;
}

.header-top a.link {
    color: var(--color-darkgreen);;
}



.logo {
    font-size: 36px;
}


.menu {
    display: flex;
        align-items: center;
        justify-content: center;
}

.menu-element{
    margin-right: 30px;
    list-style-type: none;
    font-size: 22px;
}

.menu-element :last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: rgb(207, 219, 207);
}

.header-center {
    position: relative;
    color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    z-index: 2;
}

.header-center__wrapper{
    width: 100%;
    background: rgb(0, 0, 0, 5%);
    text-align: center;
    padding: 20px 0;
}
.name {
    font-size: 58px;
    line-height: 74px;
}

.description{
    display: inline-block;
    font-size: 22px;
    line-height: 1,5em;
    width: 121ch;
    white-space: nowrap;

    border-right: 2px solid transparent;
    overflow: hidden;
    animation: cursor 0.75s 8, print-text 9s;
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #07373a;
    }
    100% {
        border-color: transparent;
    }

}

@keyframes print-text {
    from {
        width: 0;
    }
}


/* Секция обо мне*/

.about-me{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.about-me .left{
    flex: 1 1 30%;
    padding-right: 40px;
}

.about-me .right {
    flex: 1 1 60%;
    padding-left: 5px;
}

.about-me__image {
    width: 350px;
    margin-left: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 50%));
}

.about-me__title {
    font-size: 38px;
}

.about-me__description {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 15px;
}

.about-me__extra {
    color: var(--color-text);
    font-size: 18px;
    padding-left: 0%;
    margin-top: 20px;
}

.about-me__extra-element {
    display: flex;
    margin-bottom: 10px;
}

.about-me__extra-element:last-of-type {
    margin-bottom: 0;
}

.about-me__extra-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.about-me__extra-icon svg {
    color: var(--color-green);
}

.about-me__extra-title{
    margin-right: 10px;
}

/* Секция достижения */

.achievements {
    flex-direction: column;
    padding: 40px 0;
    position: relative;
}
.achievements:before,
.achievements:after {
    content: "";
    position: absolute;
    border: 80px solid transparent;
}

.achievements:before {
    border-top: 30px solid #fff;
    top: 0;
}

.achievements:after {
    border-top: 30px solid var(--background-grey);
    bottom: -110px;
}


/* Секция цены на услуги */
.price {
    padding: 60px 0 40px;
}


/* Общие стили */

a.link {
    color: rgb(13, 128, 108);
    text-decoration: none;
    transition: opacity .25s ease;
}

a.link:hover {
    opacity: 0.7;
}

.gray {
    color: var(--color-gray);
}

.bold {
    font-weight: 700;
    color: var(--color-text-black);
}

.second-title{
    position:relative;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}


.section-grey {
    background: var(--background-grey);
}

.second-title:after{
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    bottom: -4px;
    left: calc(50% - 60px / 2);
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Слайдер изображений */
.slider {
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.slider__wrapper {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.slider__link {
    flex: 1 1 33%;
}

.slider__image {
    width: 100%;
    max-width: 250px;
}